body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e0f0ff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.search-box {
    text-align: center;
    margin-bottom: 20px;
}

#pageInput {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px;
    padding: 20px;
}

.character {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.character:hover {
    transform: scale(1.03);
}

.character img {
    width: 100%;
    height: auto;
}

.character h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.character p {
    margin: 5px;
    font-size: 14px;
    color: #333;
}

/* Responsividade */
@media (max-width: 1024px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .results {
        grid-template-columns: 1fr;
    }
}
